examples/example-1.json
[{"id":"a1a1e96f.e8a11","type":"tab","label":"SimpleCast example","disabled":false,"info":""},{"id":"82a08e37.36c37","type":"mycast","z":"a1a1e96f.e8a11","name":"Google Home mini -  Salon","host":"192.168.2.150","x":980,"y":100,"wires":[["19edf089.1e4677"]]},{"id":"19edf089.1e4677","type":"debug","z":"a1a1e96f.e8a11","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1090,"y":160,"wires":[]},{"id":"bda77856.dc68c8","type":"inject","z":"a1a1e96f.e8a11","name":"","topic":"","payload":"{\"type\":\"GET_STATUS\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":740,"y":540,"wires":[["82a08e37.36c37"]]},{"id":"dc623df1.bdc278","type":"inject","z":"a1a1e96f.e8a11","name":"media 1","topic":"","payload":"{\"type\":\"MEDIA\",\"media\":{\"url\":\"https://bigs.fr/0.mp3\"}}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":160,"wires":[["82a08e37.36c37"]]},{"id":"319460c6.2e1598","type":"inject","z":"a1a1e96f.e8a11","name":"TTS","topic":"","payload":"{\"type\":\"TTS\", \"text\": \"this is a test\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":120,"wires":[["82a08e37.36c37"]]},{"id":"494aa455.ae99d4","type":"inject","z":"a1a1e96f.e8a11","name":"","topic":"","payload":"{\"type\":\"PAUSE\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":455,"y":220,"wires":[["82a08e37.36c37"]],"icon":"font-awesome/fa-pause","l":false},{"id":"8895d822.7359e","type":"inject","z":"a1a1e96f.e8a11","name":"","topic":"","payload":"{\"type\":\"STOP\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":455,"y":300,"wires":[["82a08e37.36c37"]],"icon":"font-awesome/fa-stop","l":false},{"id":"6a4bcae0.f5ffcc","type":"inject","z":"a1a1e96f.e8a11","name":"","topic":"","payload":"{\"type\":\"PLAY\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":455,"y":340,"wires":[["82a08e37.36c37"]],"icon":"font-awesome/fa-play","l":false},{"id":"ae08a931.139fa","type":"inject","z":"a1a1e96f.e8a11","name":"","topic":"","payload":"{\"type\":\"CLOSE\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":720,"y":460,"wires":[["82a08e37.36c37"]]},{"id":"b2bf0325.63f318","type":"inject","z":"a1a1e96f.e8a11","name":"","topic":"","payload":"{\"type\":\"STATUS\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":455,"y":260,"wires":[["82a08e37.36c37"]],"icon":"font-awesome/fa-info","l":false},{"id":"cb8d17a0.1858d","type":"inject","z":"a1a1e96f.e8a11","name":"10","topic":"","payload":"{\"type\":\"SEEK_DELTA\",\"time\":10}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":470,"y":140,"wires":[["82a08e37.36c37"]],"icon":"font-awesome/fa-forward"},{"id":"a64a2eb7.e3d6d","type":"inject","z":"a1a1e96f.e8a11","name":"-10","topic":"","payload":"{\"type\":\"SEEK_DELTA\",\"time\":-10}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":470,"y":180,"wires":[["82a08e37.36c37"]],"icon":"font-awesome/fa-backward"},{"id":"eca79ad5.767368","type":"inject","z":"a1a1e96f.e8a11","name":"","topic":"","payload":"{\"type\":\"MUTE\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":720,"y":420,"wires":[["82a08e37.36c37"]]},{"id":"d3200f50.5e8ec8","type":"inject","z":"a1a1e96f.e8a11","name":"","topic":"","payload":"{\"type\":\"UNMUTE\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":730,"y":500,"wires":[["82a08e37.36c37"]]},{"id":"37c3af76.52f97","type":"inject","z":"a1a1e96f.e8a11","name":"vol 20%","topic":"","payload":"{\"type\":\"VOLUME\", \"volume\": 20}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":690,"y":600,"wires":[["82a08e37.36c37"]]},{"id":"4beb1953.65db9","type":"inject","z":"a1a1e96f.e8a11","name":"","topic":"","payload":"{\"type\":\"GET_VOLUME\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":750,"y":720,"wires":[["82a08e37.36c37"]]},{"id":"c2af7bc7.66a26","type":"inject","z":"a1a1e96f.e8a11","name":"inc vol 5%","topic":"","payload":"{\"type\":\"VOL_INC\", \"step\": 5}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":700,"y":640,"wires":[["82a08e37.36c37"]]},{"id":"cc25a729.448ca","type":"inject","z":"a1a1e96f.e8a11","name":"vol +","topic":"","payload":"{\"type\":\"VOL_INC\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":690,"y":760,"wires":[["82a08e37.36c37"]]},{"id":"6f38a8fe.f075c8","type":"inject","z":"a1a1e96f.e8a11","name":"dec vol 5%","topic":"","payload":"{\"type\":\"VOL_DEC\", \"step\": 5}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":700,"y":680,"wires":[["82a08e37.36c37"]]},{"id":"effe7366.e9285","type":"inject","z":"a1a1e96f.e8a11","name":"vol -","topic":"","payload":"{\"type\":\"VOL_DEC\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":690,"y":800,"wires":[["82a08e37.36c37"]]},{"id":"64ea58da.19f0a","type":"inject","z":"a1a1e96f.e8a11","name":"radio FIP","topic":"","payload":"{\"type\":\"MEDIA\",\"media\":{\"url\":\"http://direct.fipradio.fr/live/fip-midfi.mp3\"}}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":460,"wires":[["82a08e37.36c37"]]},{"id":"a21066fc.3e951","type":"inject","z":"a1a1e96f.e8a11","name":"france info","topic":"","payload":"{\"type\":\"MEDIA\",\"media\":{\"url\":\"http://direct.franceinfo.fr/live/franceinfo-midfi.mp3\"}}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":500,"wires":[["82a08e37.36c37"]]},{"id":"cc8cf634.a86548","type":"inject","z":"a1a1e96f.e8a11","name":"Kyoto Living FM","topic":"","payload":"{\"type\":\"MEDIA\",\"media\":{\"url\":\"https://musicbird.leanstream.co/JCB104-MP3\"}}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":300,"wires":[["82a08e37.36c37"]]},{"id":"ac2e9de0.4dc2d8","type":"inject","z":"a1a1e96f.e8a11","name":"Sakura FM","topic":"","payload":"{\"type\":\"MEDIA\",\"media\":{\"url\":\"https://musicbird.leanstream.co/JCB072-MP3\"}}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":340,"wires":[["82a08e37.36c37"]]},{"id":"fd60b9b8.ecb01","type":"inject","z":"a1a1e96f.e8a11","name":"Be happy ! - Umeda FM","topic":"","payload":"{\"type\":\"MEDIA\",\"media\":{\"url\":\"https://musicbird.leanstream.co/JCB068-MP3\"}}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":380,"wires":[["82a08e37.36c37"]]},{"id":"5f9d73e3.2a622c","type":"inject","z":"a1a1e96f.e8a11","name":"FM West Tokyo 84.2 Nishi Tokyo","topic":"","payload":"{\"type\":\"MEDIA\",\"media\":{\"url\":\"https://musicbird.leanstream.co/JCB031-MP3\"}}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":210,"y":420,"wires":[["82a08e37.36c37"]]},{"id":"46f860ad.3e5518","type":"inject","z":"a1a1e96f.e8a11","name":"media 1","topic":"","payload":"https://bigs.fr/0.mp3","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":200,"wires":[["82a08e37.36c37"]]},{"id":"f4b194fd.065d5","type":"inject","z":"a1a1e96f.e8a11","name":"","topic":"","payload":"{\"type\":\"QUEUE_UPDATE\", \"jump\": -1 }","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":455,"y":420,"wires":[["82a08e37.36c37"]],"icon":"font-awesome/fa-fast-backward","l":false},{"id":"84961349.55e858","type":"inject","z":"a1a1e96f.e8a11","name":"","topic":"","payload":"{\"type\":\"QUEUE_UPDATE\", \"jump\":1 }","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":455,"y":380,"wires":[["82a08e37.36c37"]],"icon":"font-awesome/fa-fast-forward","l":false},{"id":"10ebae24.e2c452","type":"inject","z":"a1a1e96f.e8a11","name":"play list","topic":"","payload":"{\"type\":\"MEDIA\",\"media\":[{\"url\":\"https://bigs.fr/0.mp3\"},{\"url\":\"https://bigs.fr/1.mp3\"},{\"url\":\"https://bigs.fr/2.mp3\"},{\"url\":\"https://bigs.fr/3.mp3\"},{\"url\":\"https://bigs.fr/4.mp3\"},{\"url\":\"https://bigs.fr/5.mp3\"},{\"url\":\"https://bigs.fr/6.mp3\"},{\"url\":\"https://bigs.fr/7.mp3\"},{\"url\":\"https://bigs.fr/8.mp3\"},{\"url\":\"https://bigs.fr/9.mp3\"},{\"url\":\"https://bigs.fr/10.mp3\"}]}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":80,"wires":[["82a08e37.36c37"]]},{"id":"ea7e6259.39df3","type":"inject","z":"a1a1e96f.e8a11","name":"france info","topic":"","payload":"FRANCEINFO","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":540,"wires":[["82a08e37.36c37"]]},{"id":"e83f0588.dd172","type":"inject","z":"a1a1e96f.e8a11","name":"","topic":"","payload":"MUTE","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":950,"y":420,"wires":[["82a08e37.36c37"]]},{"id":"33c81d1e.d6a052","type":"inject","z":"a1a1e96f.e8a11","name":"","topic":"","payload":"NEXT","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":550,"y":380,"wires":[["82a08e37.36c37"]]},{"id":"7f42397f.63c1f","type":"inject","z":"a1a1e96f.e8a11","name":"","topic":"","payload":"VOL_INC","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":920,"y":760,"wires":[["82a08e37.36c37"]]},{"id":"bab2eb4b.69bb58","type":"inject","z":"a1a1e96f.e8a11","name":"","topic":"","payload":"VOL_DEC","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":920,"y":800,"wires":[["82a08e37.36c37"]]},{"id":"fa59ddaf.c038b8","type":"inject","z":"a1a1e96f.e8a11","name":"","topic":"","payload":"PREV","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":550,"y":420,"wires":[["82a08e37.36c37"]]},{"id":"943ec499.aaa9d8","type":"inject","z":"a1a1e96f.e8a11","name":"","topic":"","payload":"STOP","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":550,"y":300,"wires":[["82a08e37.36c37"]]},{"id":"90e55a73.ed4dc8","type":"inject","z":"a1a1e96f.e8a11","name":"","topic":"","payload":"PAUSE","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":550,"y":220,"wires":[["82a08e37.36c37"]]}]
